name: lightspark_wallet
version: 0.0.4
description: The Lightspark wallet Flutter SDK (ALPHA). Not yet ready for production use.
homepage: https://github.com/lightsparkdev/flutter-sdk

environment:
  sdk: '>=3.0.5 <4.0.0'
  flutter: ">=3.3.0"

dependencies:
  crypto: ^3.0.3
  fast_rsa: ^3.5.7
  flutter:
    sdk: flutter
  gql: ^1.0.0
  graphql: ^5.1.3
  plugin_platform_interface: ^2.1.5
  pubspec_parse: ^1.2.3
  shared_preferences: ^2.2.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.lightspark.lightspark_wallet
        pluginClass: LightsparkWalletPlugin
      ios:
        pluginClass: LightsparkWalletPlugin
      macos:
        pluginClass: LightsparkWalletPlugin

  assets:
    # Needed to read out the package version from the pubspec.
    - pubspec.yaml
